/*===========
    header
===========*/
header {
  width: 100vw;
  height: 180px;
  margin-bottom: 50px;
  padding-left: 40px;
}

.logo_container {
  padding: 90px 0 0 50px;
}

.logo_container img {
  width: 190px;
  height: 60px;
}

/*============
    main
=============*/
main {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .hero {
  padding: 0 20px 20px 0px;
  width: 70%;
  height: 40%;
  display: flex;
  justify-content: space-between;

}

main .hero h1 {
  color: #013220;
  font-size: 40px;
  font-weight: 700;
}

main .login_form {
    width: 350px;
    height: fit-content;
    background-color: #ED8936;
    border: none;
    border-radius: 11px;
    padding: 45px 30px;
    display: flex;
    flex-direction: column;
    color: #013220;
}

main .login_form .form_element {
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-bottom: 18px;
}

main .login_form .form_element label {
    margin-bottom: 5px;
}

main .login_form .form_element input {
    box-sizing: border-box;
    padding: 6px 12px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 4px;
    outline: none;
}

main .login_form .link_btn {
    height: fit-content;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .login_form .link_btn p {
    font-size: 12px;
}

main .login_form .link_btn p a {
    text-decoration: none;
    font-weight: 650;
    color: #013220;
}

main .login_form .link_btn .login_btn {
    width: 30%;
    height: 30px;
    font-size: 12px;
    background-color: #322659;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
}

main .login_form .link_btn .login_btn:hover {
    opacity: 85%;
    cursor: pointer;
}

/*===============
  Responsiveness
===============*/

/* --- tablet --- */
@media (max-width: 900px){
    header {
        margin-bottom: 0;
        height: 120px;
    }
    .logo_container {
        padding: 50px 0 0 0;
    }
    main .hero {
        flex-direction: column;
    }
    main .hero h1 {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

/* --- phone --- */
@media (max-width: 430px){
    main .hero h1 {
        font-size: 25px;
    }
    main .hero {
        width: 90%;
    }
    main .hero .login_form {
        width: 280px;
    }
}
