/*===========
    Fonts
===========*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/*==============
    CSS RESET
===============*/
html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*===========
    global
===========*/
body {
	background-color: #fffff0;
	font-family: "Open Sans", sans-serif;
	height: 100vh;
}

#error_msg {
	color: white;
	font-family: monospace;
	margin-bottom: 10px;
	padding-left: 5px;
	background-color: red;
	border-radius: 4px;
	font-size: small;
}

/*============
    footer
=============*/
footer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	text-align: center;
	color: #013220;
	padding: 10px 5px;
	background-color: #fffff0;
	box-shadow: 0px 0px 5px 0px #aaaaaa;
}
