{% extends "layout.html" %} {% block css_link %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/assets.css') }}"
/>
{% endblock %} {% block main %}

<div id="main-content">
	<h1 class="title">{{ session['title'] }}</h1>
	<div class="card">
		<div class="card_header">
			<div class="card_header_left">
				<h3>Current</h3>
				<p class="card_time">For 2023</p>
			</div>
			<div class="card_header_right">
				<a href="/assets/add">
					<button class="card_button">Add</button>
				</a>
			</div>
		</div>
		<div class="card_body">
			<table>
				{% for asset in user.assets %} {% if asset.current %}
				<tr>
					<td>{{ asset.name }}</td>
					<td>
						{{ asset.value }}
						<a href="" class="edit">
							<i class="fa-regular fa-pen-to-square"></i>
						</a>
					</td>
				</tr>
				{% endif %} {% endfor %}
				<tr>
					<td class="total">Total</td>
					<td class="total">{{ user.get_total_current_assets() }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="card">
		<div class="card_header">
			<div class="card_header_left">
				<h3>Non-Current</h3>
				<p class="card_time">For 2023</p>
			</div>
			<div class="card_header_right">
				<a href="/assets/add">
					<button class="card_button">Add</button>
				</a>
			</div>
		</div>
		<div class="card_body">
			<table>
				{% for asset in user.assets %} {% if not asset.current %}
				<tr>
					<td>{{ asset.name }}</td>
					<td>
						{{ asset.value }}
						<a href="" class="edit">
							<i class="fa-regular fa-pen-to-square"></i>
						</a>
					</td>
				</tr>
				{% endif %} {% endfor %}
				<tr>
					<td class="total">Total</td>
					<td class="total">{{ user.get_total_non_current_assets() }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock %}
