{% extends "layout.html" %} {% block css_link %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/equity_liability.css') }}"
/>
{% endblock %} {% block main %}

<div id="main-content">
	<h1 class="title">{{ session['title'] }}</h1>
	<div class="card">
		<div class="card_header">
			<div class="card_header_left">
				<h3>Equity</h3>
				<p class="card_time">For 2023</p>
			</div>
			<div class="card_header_right">
				<a href="/equity_liability/add_equity">
					<button class="card_button">Add</button>
				</a>
			</div>
		</div>
		<div class="card_body">
			<table>
				{% for equity in user.equities %}
				<tr>
					<td>{{ equity.name }}</td>
					<td>
						{{ equity.value }}
						<a href="" class="edit">
							<i class="fa-regular fa-pen-to-square"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
				<tr>
					<td class="total">Total</td>
					<td class="total">{{ user.get_total_equity() }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="card" id="liability">
		<div class="card_header">
			<div class="card_header_left">
				<h3>Liability</h3>
				<p class="card_time">For 2023</p>
			</div>
			<div class="card_header_right">
				<a href="/equity_liability/add_liability">
					<button class="card_button">Add</button>
				</a>
			</div>
		</div>
		<div class="card_body">
			<h4>Non-Current</h4>
			<table>
				{% for liability in user.liabilities %} {% if not liability.current %}
				<tr>
					<td>{{ liability.name }}</td>
					<td>
						{{ liability.value }}
						<a href="" class="edit">
							<i class="fa-regular fa-pen-to-square"></i>
						</a>
					</td>
				</tr>
				{% endif %} {% endfor %}
				<tr>
					<td class="total">Total</td>
					<td class="total">{{ user.get_total_non_current_liability() }}</td>
				</tr>
			</table>
			<h4>Current</h4>
			<table>
				{% for liability in user.liabilities %} {% if liability.current %}
				<tr>
					<td>{{ liability.name }}</td>
					<td>
						{{ liability.value }}
						<a href="" class="edit">
							<i class="fa-regular fa-pen-to-square"></i>
						</a>
					</td>
				</tr>
				{% endif %} {% endfor %}
				<tr>
					<td class="total">Total</td>
					<td class="total">{{ user.get_total_current_liability() }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock %}
